body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background: #234d63;
    color: #ffffff;
    border-bottom: orange 3px solid;
    padding-top:30px;
    min-height: 70px;
}
header a {
color:white ;
text-decoration: none;
font-size: 16px;
} 
header ul{
    margin: 0;
    padding: 0;

}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {

    color: #668c3a;
    font-weight: bold;
}
header a :hover{
    color:#668c3a;
    font-weight: bold;
}
#showCase{
    min-height: 400px;
    background: url('../img/gd.jpg') no-repeat 0 -400px;
    text-align: center;
    color:white;
}
#showCase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 60px;
}
#showCase p{
    font-size: 20px;
}
#newsletter{
    padding: 8px;
    color: white;
    background: #234d63;
}
#newsletter h1{
    float:left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding:4px;
    height: 25px;
    width: 250px;
}
.btn_1{
    border: none;
    height: 38px;
    background:#668c3a;
    padding-left: 20px;
    padding-right:20px;
    color: white;
}
#boxes{
margin-top: 50px;
}
#boxes .box{
    float: left;
    width: 25%;
    padding:40px;
    text-align: center;
  
}
#boxes .box i{
    font-size: 40px;
    color: rgb(84, 184, 84);
}
#sidebar{
    float:right;
    width: 30%;
    margin-top: 10px;
}
#main-col{
    float: left;
    width: 65%;
}
.dark{
    padding: 15px;
    background: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 10px;
    background: #e6e3e6;
}
.join input , .join textarea{
    width:90% ;
    padding: 5px;


}
h1.page-title {
    text-align: center;
}
.social{
    width: 40px;
    float: left;
    font-size: 16px;
    margin-top: 35px;
}
.social ul li {
    list-style: none;
}
.social ul li a{
    text-decoration: none;
    color: teal;
    font-size: 15px;
    padding: 10px;
    line-break: 10px;
}
footer{
    padding: 20px;
    margin-top:30px ;
    background: rgb(37, 44, 66) ;
    text-align: center;
    color: #f4f4f4;
}
